/* You can add global styles to this file, and also import other style files */
body: {
	font-family: Arial,Helvetica,sans-serif;
    font-size: inherit !important;
    color: #666666;
    background-color: #f3ebd4 !important;
}
button {
    display: inline-block;
    background: #477d84;
    margin: 5px 0 15px 0;
    padding: 15px 25px;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: ease all .2s;
}
